*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

$className: 'todolist';

.App {
    max-width: 500px;
}
.#{$className} {
    &_header {
        border-bottom: 1px solid #eee;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(#000, .15);
        input {
            border: none;
            outline: none;
            width: 100%;
            padding: 15px;
            ::placeholder {
                color: #fefefe;
            }
        }
    }
    &_body {
        position: relative;
        margin: 0;
        padding: 0 15px;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(#000, .15);
        li {
            display: flex;
            align-items: center;
            padding: 15px 0;
            &:hover {
                .#{$className}-del {
                    display: block;
                }
            }
        }
        .#{$className}-radio {
            position: relative;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 100%;
            border: 1px solid #eee;
            &.over {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -5px;
                    bottom: 0;
                    margin: auto;
                    width: 18px;
                    height: 10px;
                    border-left: 1px solid #5DC2AF;
                    border-bottom: 1px solid #5DC2AF;
                    transform: rotate(-45deg);
                }
                & + span {
                    text-decoration: line-through;
                }
            }
        }
        .#{$className}-del {
            display: none;
            padding: 10px;
            margin-left: auto;
            cursor: pointer;
        }
    }
    &_footer {
        display: none;
        &.show {
            display: block;
        }
    }
}
